<a href="https://colab.research.google.com/github/lonerpatti/BigDataPos/blob/main/Uni_Facef_Pyspark_Parte_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>Uni-Facef - Pyspark - Parte 1 </font>

#### Instalando o pacote PySpark em nosso "Cluster de uma Máquina Só rs"

Lembre-se que para utilização do pacote PySpark é necessário fazer a instalação do Apache Spark na máquina

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 62kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 40.5MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=45de1d006a6634d4d20a6f8379b14d1a4cddbed2811ddb0fbeff1d91e4f91819
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [2]:
!java -version

openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1)
OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)

#### Criação um sessão no Spark para no Aplicação

In [3]:
# coding: utf-8
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .appName('ReceitasGov2020') \
    .getOrCreate()

type(spark)

pyspark.sql.session.SparkSession



```
# Isto está formatado como código
```

#### Copiando um arquivo para o Google Colab Lab

In [5]:
from google.colab import files
uploaded = files.upload()

Saving Receitas2020.csv to Receitas2020.csv

#### Criação de um dataframe

Um DataFrame é um conjunto de dados organizado em colunas nomeadas. É conceitualmente equivalente a uma tabela em um banco de dados relacional ou um quadro de dados em R / Python, mas com otimizações mais ricas sob o capô. Os DataFrames podem ser construídos a partir de uma ampla variedade de fontes

In [6]:
df = spark.read \
    .option("delimiter", ";") \
    .csv('Receitas2020.csv', header=True)

type(df)

pyspark.sql.dataframe.DataFrame

In [7]:
# Listando os métodos do objeto DataFrame
dir(df)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_jcols',
 '_jdf',
 '_jmap',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_sort_cols',
 '_support_repr_html',
 '_to_corrected_pandas_type',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'intersect',
 'intersectAll',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'mapInPandas',
 'na',
 'orderBy',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'show',
 'sort',
 'sortWithinPartitions',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'tail',
 'take',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'transform',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withWatermark',
 'write',
 'writeStream']

In [8]:
# Conta a quantidade de registros do Dataframe
df.count()

10200

In [9]:
# Mostra a descrição do Método
help(df.count)

Help on method count in module pyspark.sql.dataframe:

count() method of pyspark.sql.dataframe.DataFrame instance
    Returns the number of rows in this :class:`DataFrame`.

    >>> df.count()
    2

    .. versionadded:: 1.3

In [10]:
# Mostra a Schema Inferido para o Dataframa
df.printSchema()

root
 |-- C�DIGO �RG�O SUPERIOR: string (nullable = true)
 |-- NOME �RG�O SUPERIOR: string (nullable = true)
 |-- C�DIGO �RG�O: string (nullable = true)
 |-- NOME �RG�O: string (nullable = true)
 |-- C�DIGO UNIDADE GESTORA: string (nullable = true)
 |-- NOME UNIDADE GESTORA: string (nullable = true)
 |-- CATEGORIA ECON�MICA: string (nullable = true)
 |-- ORIGEM RECEITA: string (nullable = true)
 |-- ESP�CIE RECEITA: string (nullable = true)
 |-- DETALHAMENTO: string (nullable = true)
 |-- VALOR PREVISTO ATUALIZADO: string (nullable = true)
 |-- VALOR LAN�ADO: string (nullable = true)
 |-- VALOR REALIZADO: string (nullable = true)
 |-- PERCENTUAL REALIZADO: string (nullable = true)
 |-- DATA LAN�AMENTO: string (nullable = true)
 |-- ANO EXERC�CIO: string (nullable = true)

In [11]:
# Mostra os primeiros registros do dataset (default 20)
df.show(5)

+---------------------+--------------------+------------+--------------------+----------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------------+-------------+---------------+--------------------+---------------+-------------+
|C�DIGO �RG�O SUPERIOR| NOME �RG�O SUPERIOR|C�DIGO �RG�O|          NOME �RG�O|C�DIGO UNIDADE GESTORA|NOME UNIDADE GESTORA|CATEGORIA ECON�MICA|      ORIGEM RECEITA|     ESP�CIE RECEITA|        DETALHAMENTO|VALOR PREVISTO ATUALIZADO|VALOR LAN�ADO|VALOR REALIZADO|PERCENTUAL REALIZADO|DATA LAN�AMENTO|ANO EXERC�CIO|
+---------------------+--------------------+------------+--------------------+----------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------------+-------------+---------------+--------------------+---------------+-------------+
|                63000|Advocacia-Geral d...|       63000|Advocacia-Geral d...|                110060|COORD. GERAL DE O...| Receitas Correntes|Outras Receitas C...|Indeniza��es, res...|RESTITUI��O DE CO...|                     0,00|         0,00|        4701,23|                0,00|     19/03/2020|         2020|
|                63000|Advocacia-Geral d...|       63000|Advocacia-Geral d...|                110060|COORD. GERAL DE O...| Receitas Correntes|Outras Receitas C...|Indeniza��es, res...|RESTITUI��O DE CO...|                     0,00|         0,00|      -80366,64|                0,00|     01/06/2020|         2020|
|                63000|Advocacia-Geral d...|       63000|Advocacia-Geral d...|                110060|COORD. GERAL DE O...| Receitas Correntes|Outras Receitas C...|Indeniza��es, res...|RESTITUI��O DE CO...|                     0,00|         0,00|         616,57|                0,00|     22/04/2020|         2020|
|                63000|Advocacia-Geral d...|       63000|Advocacia-Geral d...|                110060|COORD. GERAL DE O...| Receitas Correntes|Outras Receitas C...|Indeniza��es, res...|RESTITUI��O DE CO...|                     0,00|         0,00|           0,00|                0,00|     10/06/2020|         2020|
|                63000|Advocacia-Geral d...|       63000|Advocacia-Geral d...|                110060|COORD. GERAL DE O...| Receitas Correntes|Outras Receitas C...|Indeniza��es, res...|RESTITUI��O DE CO...|                     0,00|         0,00|        5516,90|                0,00|     28/04/2020|         2020|
+---------------------+--------------------+------------+--------------------+----------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------------+-------------+---------------+--------------------+---------------+-------------+
only showing top 5 rows

In [12]:
# Lista para os novos nomes
novos_nomes = [
    "cod_orgao_superior", "nome_orgao_superior", "cod_orgao",
    "nome_orgao", "cod_unidade_gestora", "nome_unidade_gestora",
    "categoria_economica", "origem_receita", "especie_receita",
    "detalhamento", "vr_previsto_atualiz", "vr_lancado",
    "vr_realizado", "percent_realizado", "data_lancamento",
    "ano_exercicio"
]

for i, coluna in enumerate(df.columns):
    print(i, coluna)
    
print("\n1 " + novos_nomes[1])

0 C�DIGO �RG�O SUPERIOR
1 NOME �RG�O SUPERIOR
2 C�DIGO �RG�O
3 NOME �RG�O
4 C�DIGO UNIDADE GESTORA
5 NOME UNIDADE GESTORA
6 CATEGORIA ECON�MICA
7 ORIGEM RECEITA
8 ESP�CIE RECEITA
9 DETALHAMENTO
10 VALOR PREVISTO ATUALIZADO
11 VALOR LAN�ADO
12 VALOR REALIZADO
13 PERCENTUAL REALIZADO
14 DATA LAN�AMENTO
15 ANO EXERC�CIO

1 nome_orgao_superior

#### Aplicando alteração no nome dos campos através de funções do módulo "pyspark.sql.functions"

- col() - Para selecionar a coluna que vamos utilizar
- alias() - Para modificar o nome do campo

Obs: A função .upper() e enumerate() são funções do Python

In [13]:
import pyspark.sql.functions as sf

df = df.select(
    [sf.col(coluna).alias(novos_nomes[i].upper()) for i, coluna in enumerate(df.columns)]
)
df.printSchema()

root
 |-- COD_ORGAO_SUPERIOR: string (nullable = true)
 |-- NOME_ORGAO_SUPERIOR: string (nullable = true)
 |-- COD_ORGAO: string (nullable = true)
 |-- NOME_ORGAO: string (nullable = true)
 |-- COD_UNIDADE_GESTORA: string (nullable = true)
 |-- NOME_UNIDADE_GESTORA: string (nullable = true)
 |-- CATEGORIA_ECONOMICA: string (nullable = true)
 |-- ORIGEM_RECEITA: string (nullable = true)
 |-- ESPECIE_RECEITA: string (nullable = true)
 |-- DETALHAMENTO: string (nullable = true)
 |-- VR_PREVISTO_ATUALIZ: string (nullable = true)
 |-- VR_LANCADO: string (nullable = true)
 |-- VR_REALIZADO: string (nullable = true)
 |-- PERCENT_REALIZADO: string (nullable = true)
 |-- DATA_LANCAMENTO: string (nullable = true)
 |-- ANO_EXERCICIO: string (nullable = true)

#### Criando schema com o módulo "pyspark.sql.types"

É possível definir nome e tipo das colunas do Dataframe, se é opcional ou não, no momento da leitura.

In [14]:
import pyspark.sql.types as st

SCHEMA = st.StructType([
    st.StructField("cod_orgao_superior", st.LongType(), True),
    st.StructField("nome_orgao_superior", st.StringType(), True),
    st.StructField("cod_orgao", st.LongType(), True),
    st.StructField("nome_orgao", st.StringType(), True),
    st.StructField("cod_unidade_gestora", st.LongType(), True),
    st.StructField("nome_unidade_gestora", st.StringType(), True),
    st.StructField("categoria_economica", st.StringType(), True),
    st.StructField("origem_receita", st.StringType(), True),
    st.StructField("especie_receita", st.StringType(), True),
    st.StructField("detalhamento", st.StringType(), True),
    st.StructField("vr_previsto_atualiz", st.DecimalType(10, 2), True),
    st.StructField("vr_lancado", st.DecimalType(10, 2), True),
    st.StructField("vr_realizado", st.DecimalType(10, 2), True),
    st.StructField("percent_realizado", st.DecimalType(10, 2), True),
    st.StructField("data_lancamento", st.StringType(), True),
    st.StructField("ano_exercicio", st.IntegerType(), True),
    ])

#### Nova leitura do Dataset resolvendo problema do Schema e Coding

In [15]:
df = spark.read \
    .option("delimiter", ";") \
    .option("encoding", "ISO-8859-1") \
    .csv('Receitas2020.csv', header=True, schema=SCHEMA)

# O parâmetro truncate define se mostra tudo conteudo do campo ou não
df.show(5, truncate=True)

+------------------+--------------------+---------+--------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+----------+------------+-----------------+---------------+-------------+
|cod_orgao_superior| nome_orgao_superior|cod_orgao|          nome_orgao|cod_unidade_gestora|nome_unidade_gestora|categoria_economica|      origem_receita|     especie_receita|        detalhamento|vr_previsto_atualiz|vr_lancado|vr_realizado|percent_realizado|data_lancamento|ano_exercicio|
+------------------+--------------------+---------+--------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+----------+------------+-----------------+---------------+-------------+
|             63000|Advocacia-Geral d...|    63000|Advocacia-Geral d...|             110060|COORD. GERAL DE O...| Receitas Correntes|Outras Receitas C...|Indenizações, res...|RESTITUIÇÃO DE CO...|               0.00|      0.00|   470123.00|             0.00|     19/03/2020|         2020|
|             63000|Advocacia-Geral d...|    63000|Advocacia-Geral d...|             110060|COORD. GERAL DE O...| Receitas Correntes|Outras Receitas C...|Indenizações, res...|RESTITUIÇÃO DE CO...|               0.00|      0.00| -8036664.00|             0.00|     01/06/2020|         2020|
|             63000|Advocacia-Geral d...|    63000|Advocacia-Geral d...|             110060|COORD. GERAL DE O...| Receitas Correntes|Outras Receitas C...|Indenizações, res...|RESTITUIÇÃO DE CO...|               0.00|      0.00|    61657.00|             0.00|     22/04/2020|         2020|
|             63000|Advocacia-Geral d...|    63000|Advocacia-Geral d...|             110060|COORD. GERAL DE O...| Receitas Correntes|Outras Receitas C...|Indenizações, res...|RESTITUIÇÃO DE CO...|               0.00|      0.00|        0.00|             0.00|     10/06/2020|         2020|
|             63000|Advocacia-Geral d...|    63000|Advocacia-Geral d...|             110060|COORD. GERAL DE O...| Receitas Correntes|Outras Receitas C...|Indenizações, res...|RESTITUIÇÃO DE CO...|               0.00|      0.00|   551690.00|             0.00|     28/04/2020|         2020|
+------------------+--------------------+---------+--------------------+-------------------+--------------------+-------------------+--------------------+--------------------+--------------------+-------------------+----------+------------+-----------------+---------------+-------------+
only showing top 5 rows

In [16]:
df.printSchema()

root
 |-- cod_orgao_superior: long (nullable = true)
 |-- nome_orgao_superior: string (nullable = true)
 |-- cod_orgao: long (nullable = true)
 |-- nome_orgao: string (nullable = true)
 |-- cod_unidade_gestora: long (nullable = true)
 |-- nome_unidade_gestora: string (nullable = true)
 |-- categoria_economica: string (nullable = true)
 |-- origem_receita: string (nullable = true)
 |-- especie_receita: string (nullable = true)
 |-- detalhamento: string (nullable = true)
 |-- vr_previsto_atualiz: decimal(10,2) (nullable = true)
 |-- vr_lancado: decimal(10,2) (nullable = true)
 |-- vr_realizado: decimal(10,2) (nullable = true)
 |-- percent_realizado: decimal(10,2) (nullable = true)
 |-- data_lancamento: string (nullable = true)
 |-- ano_exercicio: integer (nullable = true)

#### Transformando valores através do modulo "pyspark.sql.functions"

- to_timestamp(): Converte o valor string em timestamp, passando o formato atual da string
- cast(): Converte o valor para o type desejado conforme "pyspark.sql.types"

In [17]:
import pyspark.sql.functions as sf
import pyspark.sql.types as st

df = df \
    .withColumn("data_lancamento", sf.to_timestamp(sf.col("data_lancamento"),"dd/MM/yyyy")) \
    .withColumn("data_lancamento", sf.col("data_lancamento").cast(st.DateType())) \
    #.withColumn("data_lancamento", sf.col("data_lancamento").cast("date")) \

df.select("data_lancamento").show()

+---------------+
|data_lancamento|
+---------------+
|     2020-03-19|
|     2020-06-01|
|     2020-04-22|
|     2020-06-10|
|     2020-04-28|
|     2020-05-14|
|     2020-01-20|
|     2020-05-28|
|     2020-04-15|
|     2020-05-15|
|     2020-05-26|
|     2020-05-04|
|     2020-03-31|
|     2020-05-06|
|     2020-04-20|
|     2020-03-30|
|     2020-04-29|
|     2020-05-27|
|     2020-04-27|
|     2020-02-28|
+---------------+
only showing top 20 rows

In [18]:
df.printSchema()

root
 |-- cod_orgao_superior: long (nullable = true)
 |-- nome_orgao_superior: string (nullable = true)
 |-- cod_orgao: long (nullable = true)
 |-- nome_orgao: string (nullable = true)
 |-- cod_unidade_gestora: long (nullable = true)
 |-- nome_unidade_gestora: string (nullable = true)
 |-- categoria_economica: string (nullable = true)
 |-- origem_receita: string (nullable = true)
 |-- especie_receita: string (nullable = true)
 |-- detalhamento: string (nullable = true)
 |-- vr_previsto_atualiz: decimal(10,2) (nullable = true)
 |-- vr_lancado: decimal(10,2) (nullable = true)
 |-- vr_realizado: decimal(10,2) (nullable = true)
 |-- percent_realizado: decimal(10,2) (nullable = true)
 |-- data_lancamento: date (nullable = true)
 |-- ano_exercicio: integer (nullable = true)

In [19]:
# Mostrando o conteúdo do campo - Valores acentuados
df.select("detalhamento").show(truncate=False)

+--------------------------------------------+
|detalhamento                                |
+--------------------------------------------+
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
|RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA|
+--------------------------------------------+
only showing top 20 rows

#### Criando uma UDF (User-defined function)

Criando uma função simples em Python é possível registrá-la como um UDFs e trabalhar da mesma forma como um função do pacote "pyspark.sql.functions"

In [20]:
from unicodedata import normalize, category

def remove_acento(texto):
    """
    Remove acentos de um string:
    Essa função utiliza os métodos "normalize" e "category" do módulo "unicodedata"
    Também utiliza "list comprehension" para iterar nos caracteres da string
    """
    if not texto:
        return None
    
    return ''.join((c for c in normalize('NFD', texto) if category(c) != 'Mn'))

# Registra a UDF
remove_acento_udf = sf.udf(remove_acento)

#### Realizando transformações nos campos desejados, usando a UDF "remove_acento_udf"

In [21]:
df = df \
    .withColumn("nome_orgao_superior", remove_acento_udf("nome_orgao_superior")) \
    .withColumn("nome_orgao", remove_acento_udf("nome_orgao")) \
    .withColumn("nome_unidade_gestora", remove_acento_udf("nome_unidade_gestora")) \
    .withColumn("categoria_economica", remove_acento_udf("categoria_economica")) \
    .withColumn("origem_receita", remove_acento_udf("origem_receita")) \
    .withColumn("especie_receita", remove_acento_udf("especie_receita")) \
    .withColumn("detalhamento", remove_acento_udf("detalhamento"))

df.select("detalhamento").show(truncate=False)

+--------------------------------------------+
|detalhamento                                |
+--------------------------------------------+
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
|RESTITUICAO DE CONVENIOS-PRIMARIAS-DIV.ATIVA|
+--------------------------------------------+
only showing top 20 rows

In [22]:
# Escreve em formato parquet
df.repartition(2).write.parquet(
    "Receitas2020", 
    mode="overwrite")

In [23]:
!pwd

/content

In [24]:
!ls -l /content/Receitas2020

total 148
-rw-r--r-- 1 root root 73318 Oct 17 20:54 part-00000-5d707934-1629-45e8-8e3c-0b94cbf30d27-c000.snappy.parquet
-rw-r--r-- 1 root root 74060 Oct 17 20:54 part-00001-5d707934-1629-45e8-8e3c-0b94cbf30d27-c000.snappy.parquet
-rw-r--r-- 1 root root     0 Oct 17 20:54 _SUCCESS

### FIM
###### Documentação: https://spark.apache.org/docs/latest/api/python/pyspark.sql.html